.CourseReview__btnOpenModal {
	background: #db4437;
	color: #fff;
	padding: 10px 15px 0px 15px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 52px;
	height: 52px;
	border-radius: 30px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 1px 1px 5px 1px #bbbbbb;
	transition: all .3s;
}

.CourseReview__btnOpenModal:hover {
	width: 180px;
	box-shadow: 1px 1px 5px 1px #787878;
}

.CourseReview__btnOpenModal i.fa {
	padding-bottom: 15px;
	font-size: 30px;
	margin-right: 10px;
}

.CourseReviewList__wrapper {
	overflow: auto;
	height: calc(100vh - 202px);
}
