#SatTitle__btnDel,
#SunTitle__btnDel {
	display: none;
}

#SatTitle:hover #SatTitle__btnDel,
#SunTitle:hover #SunTitle__btnDel {
	display: initial;
}

#SatTitle__btnDel:hover,
#SunTitle__btnDel:hover {
	cursor: pointer;
	color: #c9302c !important;
}
